name: Run lint and format checks

on:
    pull_request:
        types: [opened, synchronize]
        branches: [main, release]

jobs:
    lint-and-format:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
              with:
                  ref: ${{ github.head_ref }}

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: '20'
                  cache: 'npm'

            - name: Install dependencies
              run: npm install

            - name: Run lint
              run: npm run lint

            - name: Run format check
              run: npm run format
